<!DOCTYPE>
<html lang="en">
<head>
<title>People's Welfare Hospital</title>

</head>
<body>

      <ul>
        <li class="active"><a href="doctorLogin">Home</a></li>
      </ul>
      <ul>
      	<li><a href="logout"><span ></span> Log Out</a></li>
      </ul>

	</header>
	<section>
		<h1>Doctor Medication successful. Patient can check-in for reports.</h1>
	</section>
<footer>
		
	</footer>
</body>
</html>